<h1>Tous Nos Pokémon</h1>
<h2>  <%= current_user.email %> euro</h2>
<p>portefeuille :  <%= current_user.balance %> euro</p>
<ul>
  <% @pokemons.each do |pokemon| %>
    <li>
      <strong>Nom :</strong> <%= pokemon.name %><br>
      <%
=begin%>
 <strong>Image :</strong> <%= image_tag(pokemon.imagepath, alt: pokemon.name, width: 100) %><br> 
<%
=end%>
      
      <strong>Prix :</strong> <%= pokemon.price %> $
      <br>
        <%= link_to 'Voir ce Pokémon', pokemon_path(pokemon) %>
      <br>
    </li>
  <% end %>
</ul>

 <%= link_to 'retour', root_path %><br>